---
import { Image } from "astro:assets";

import ProjectCard from "@/components/ProjectCard.astro";
import SkillCard from "@/components/SkillCard.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import Layout from "@/layouts/Layout.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";
import skills from "@/data/skills";
import avatar from "@/images/46498127.png";
---

<Layout title={presentation.title}>
  <main class="flex flex-col gap-20">
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
    >
      {
        avatar && (
          <Image
            src={avatar}
            class="w-1/4 self-center rounded-full"
            alt="Your Profile"
            width="200"
            height="200"
          />
        )
      }

      <div class="flex flex-col gap-8">
        <h1 class="text-3xl text-neutral-100">
          {presentation.title}
        </h1>

        <h2
          class="w-auto max-w-[60ch] leading-6"
          set:html={convertAsteriskToStrongTag(presentation.description)}
        />

        <SocialLinks />
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">
          Selected projects ({projects.length})
        </h3>
      </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Tech Stack</h3>
      </header>
      {skills.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {skills.length !== 0 && skills.map((skill) => <SkillCard {...skill} />)}
      </section>
    </article>
  </main>
</Layout>

<script>
  const imgElements: HTMLImageElement[] = Array.from(
    document.querySelectorAll(".skillicons")
  );

  const handleMediaQuery = (mql: MediaQueryList) => {
    const perlineParam = "&perline=5";
    imgElements.forEach(
      (imgElement: HTMLImageElement) =>
        (imgElement.src = mql.matches
          ? imgElement.src + perlineParam
          : imgElement.src.replace(perlineParam, ""))
    );
  };

  // Initial check for media query
  const mediaQuery = window.matchMedia("(max-width: 411px)");
  handleMediaQuery(mediaQuery);

  // Event listener for media query changes
  mediaQuery.addEventListener("change", () => handleMediaQuery(mediaQuery));
</script>
